
<div class="block-heading">
	<div class="card">
		<div class="card-block">
			<div class="row">
				<div class="col-md-12" style="padding-top: 2em; text-align: center">
					<h2 class="text-info">
						<strong>John Doe</strong>
					</h2>
					<p>Chemistry and BioChemistry</p>
					<hr>
					<div class="col-12" style="margin-top: 2em; margin-bottom: 1em;">
						<h5>
							<span><strong>Pay Period:&nbsp;</strong></span> 
							<span class="dropdown">
								<button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button">05/15/2018</button> 
								<span class="dropdown-menu" role="menu">
									<a class="dropdown-item" role="presentation" href="#">First
										Item</a><a class="dropdown-item" role="presentation" href="#">Second
										Item</a><a class="dropdown-item" role="presentation" href="#">Third
										Item</a></span> </span>
						</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
